

    <footer class="bg-dark text-white pt-5 pb-4">

        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Ask Question</h5>
                    <p>It is India's largest platform to ask question and get your question approved
                        as well as anwer of it. We have high quality mentor who will solve your problem.
                    </p>

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Members</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Reddy-Rajasree</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Nahush</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Aditya Prajapati</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Shivam</a>
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">useful links</h5>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Login</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Register</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Problem</a>
                    </p>
                    <p>
                        <a href="#" class="text-white" style="text-decoration:none;">Solution</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3" >
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">contact</h5>
                    <p>
                       <i class="fas fa-home mr-3"></i>  Gurugram, NY 2341, Hariyana
                    </p>
                    <p style="margin-right: 10px;">
                        <i class="fas fa-envelope mr-3"></i>  askQuestion18@gmail.com
                    </p>
                    <p style="margin-right: 70px;"> 
                        <i class="fas fa-phone mr-3" ></i>  +91 9065262056
                    </p>
                    <p style="margin-right: 70px;">
                        <i class="fas fa-print mr-3"></i>  +91 9064562056
                    </p>
                </div>

            </div>
            <hr class="mb-4">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p style="text-align:left">Copyright @2022 All rights reserved by:
                        <a href="#" style="text-decoration:none;">
                            <strong class="text-warning">The Group-3</strong>
                        </a>
                    </p>
                </div>

                <div class="col-md-5 col-lg-4">
                    <div class="text-center text-md-right" >
                        <ul class="list-unstyled list-inline" style="text-align:right;" >
                           <li class="list-inline-item">
                             <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                             <i class="fab fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <i class="fab fa-twitter"></i></a>   
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <i class="fab fa-google-plus"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;">
                                <i class="fab fa-youtube"></i></a>
                            </li>

                        </ul>
                    </div>
                    <div>

                    </div>
                </div>

            </div>
        </div>


    </footer>  

