<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <form #registerData="ngForm" (ngSubmit)="adminRegister(registerData.value)">
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Admin Register</h2>
                <p class="text-white-50 mb-5" style="font-size:medium;">Please enter your login and password!</p>
  
                <div class="form-outline form-white mb-4">
                  <label class="label1" for="typeEmail">UserName</label>
                  <input type="name" id="typeName" name="name" #name="ngModel" class="form-control form-control-lg" placeholder="Shivam Singh" required ngModel/>
                </div>

                <div class="form-outline form-white mb-4">
                  <label class="label1" for="typeEmail">Email</label>
                  <input type="email" id="typeEmail" name="email" #email="ngModel" class="form-control form-control-lg" placeholder="example123@gmail.com" required ngModel/>
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="label2" for="typePassword">Password</label>
                  <input type="password" id="typePassword" name="password" #password="ngModel" class="form-control form-control-lg" placeholder="example@123" required ngModel/>
                </div>

                <div class="form-outline form-white mb-4">
                    <label class="label3" for="typePhone">Phone Number &nbsp; &nbsp; &nbsp;</label>
                    <input type="text" id="typePhone" name="phoneNumber" #phoneNumber="ngModel" class="form-control form-control-lg" placeholder="example@123" required ngModel/>
                  </div>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Register</button>
  
              </div>
            </form>
  
            <div class="row">
              <div class="col-md-6">
                <p class="mb-0" style="font-size:medium;"> Have an account? Admin <a routerLink="/adminLogin" class="style fw-bold;" ><br>Login</a>
                </p>
              </div>
            <div class="col-md-6 ">
              <p class="mb-0" style="font-size:medium; padding-left: 70px;">Are you user? <a routerLink="/login" class="style fw-bold" >Login</a>
              </p>
              </div>
            </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
