<p style="margin-bottom: 0%;">
    <mat-toolbar color="primary">
      
      <span>Ask Question</span>
      <span class="example-spacer"></span>
      <form #search="ngForm">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>&nbsp; &nbsp; &nbsp;
        </div>
      </form>

      <button mat-raised-button class="px-5" (click)="logout()"><a >Logout</a></button>

    </mat-toolbar>
  </p>
  
